* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
section {
  margin-bottom: 10%;
}
.title {
  font-size: 60px;
  text-align: center;
  padding-top: 1%;
}

/* Heading style start*/
.heading-section {
  width: 100%;
  height: 80vh;
  background-image: url(./images/top-banner.jpg);
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.text-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 5%;
  color: papayawhip;
}

.title-text {
  padding-top: 2%;
  padding-bottom: 5%;
  font-size: 20px;
  text-align: center;
}

.link-button {
  text-decoration: none;
  background-color: rgb(230, 58, 45);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 10px;
  border-style: none;
}
/* Heading style end */

/* Donate amount style start */
.donate-today {
  width: 100%;
  text-align: center;
}
.donation-amount {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3%;
}

.amount {
  width: 20%;
  padding-left: 5%;
}

.amount button {
  background-color: whitesmoke;
  box-shadow: 1px 1px 10px gray;
  padding: 30px 20px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
  border-style: none;
}

#set-amount {
  width: 50%;
  font-size: 20px;
  border-style: none;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 10px;
}

.other-amount {
  padding-bottom: 3%;
}

#focus {
  color: rgb(255, 99, 71);
  border: 3px solid salmon;
}
/* Donate amount style end */

/* Donate plant start  */
.donate-plan-details {
  display: flex;
}
.card {
  width: 20%;
  padding: 30px;
  margin: 0 auto;
}

.donate-plan-title {
  font-size: 25px;
  padding: 2%;
}

.card img {
  padding: 2%;
}

.donate-plan-text {
  padding: 2%;
}

#food-for-family {
  background-color: rgba(127, 255, 212, 0.26);
}

#shelter-for-family {
  background-color: rgba(250, 128, 114, 0.26);
}

#education-for-child {
  background-color: rgba(255, 255, 0, 0.212);
}
/* Donate plan style end */

/* About us */
.about-us {
  display: flex;
  margin-top: 15%;
}

.half-width {
  width: 50%;
  padding-left: 10%;
}

.about-us img {
  height: 500px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px grey;
}

.about-us-title {
  margin-top: 10%;
  font-size: 60px;
  text-align: center;
  padding-top: 5%;
}

.about-us-text {
  padding: 25px 22px;
  font-size: 20px;
  text-align: justify;
}
/* About us style end */

/* Get update style start */
.contact {
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 166, 0, 0.192);
  padding: 6% 12%;
}
#email {
  padding: 15px 40px;
  border-radius: 10px 1px 1px 10px;
  border-style: none;
  background-color: rgba(128, 128, 128, 0.288);
  font-size: 18px;
  margin-left: 20%;
}

.email-subscription {
  text-decoration: none;
  background-color: rgb(255, 99, 71);
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  border-radius: 1px 10px 10px 1px;
  border-style: none;
  margin-left: -2%;
  font-size: 18px;
}
/* Get update style emd */

/* footer style */
.footer-section {
  height: 30vh;
  background-color: black;
}

.footer-text {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 2%;
  font-size: 20px;
  text-align: center;
  color: white;
}

.footer-title {
  padding-top: 5%;
  width: 90%;
  text-align: center;
  margin-left: 2%;
}

.footer-title a {
  text-decoration: none;
  padding: 0px;
  padding-left: 2%;
  font-size: 20px;
  font-weight: 900;
}

#facebook {
  color: blue;
}

#instagram {
  color: rgba(255, 0, 0, 0.76);
}

/* End footer */
